<md-dialog aria-label="Connect" style="width:30em;">
	<md-dialog-content>

		<div ng-show="going">
			
			<app-spinner></app-spinner>
			
		</div>
		<div ng-show="!going">
			<div class="md-title">{{title}}</div>
			
			{{message}} 
			
			<form ng-submit="going = true; go(password)">
				<div ng-show="errorMessage" class="error-message">
					{{errorMessage}}
				</div>
				
				<md-input-container>
					<label>Password</label>
					<input type="password" ng-model="password" />
				</md-input-container>
				
				<!-- ng-submit does not work without a vanilla <button> element -->
				<button style="visibility:hidden;"></button>
			</form>
		</div>
	</md-dialog-content>

	<div class="md-actions">
		<div ng-show="going">
			
		</div>
		<div ng-show="!going">
			<md-button ng-click="cancel()">Cancel</md-button>
			<md-button class="md-primary" style="float:right;" ng-click="going = true; go(password)">Connect</md-button>
		</div>
	</div>
</md-dialog>