body {
	font-family: 'Roboto', 'Deja Vu Sans', 'Helvetica';
	width:100%;
	height:initial;
	background:white;
	color:black;
	user-select: none;

}

.md-dialog-container {
	height: 100% !important;
}

.sidebar-logo {
	position:relative;
	overflow: hidden;
	width: 10em;
	height: 3em;
	
	svg {
		transform: scale(0.2);
		position: absolute;
		top: -80px;
		left: -290px;
		right: 0;
		bottom: 0;
		
		g {
			fill: white !important;
		}
	}
}

html {
	overflow-x: hidden;
}

/**
 * User selection
 */
body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
	[ui-grid] {
		user-select: initial;
		-webkit-user-select: initial;
		-moz-user-select: initial;
		-ms-user-select: initial;
	}
}

.light-tag {
	padding: 5px;
	border-radius: 5px;
	background: white;
	color: #aaa;
	display: inline-block;
	margin: 5px;
	border: 1px solid #ccc;
	text-transform: uppercase;
	font-size: 75%;
}

.top-aligned {
	.md-list-item-inner {
		align-items: baseline;
		padding: 0;
	}
}

button.md-button-tight {
	margin: 0 !important;
}

md-toolbar {
	md-input-container { 
		.md-input {
			color: white;
		}
		 
		label {
			color: white !important;
			
			md-icon {
				color: white !important;
			}
		}
		
		&:not(.md-input-invalid).md-input-focused label {
			color: white;
		}
	}
}

.ui-grid {
	.foreign {
		color: green;
	}
	
	.bool {
		font-weight: bold;
		color: #296A6F;
	}
	
	.datetime {
		text-align:right;
	}
	
	.id {
		font-style: oblique;
	}
}

db-query-results {
	.ui-grid {
		position:absolute;
		top:3em;
		left:0;
		right:0;
		bottom:0;
		background: white;
		height: auto;
		width: 100%;
	}
}
.md-list-item-tag {
	font-size:80%;
	font-weight:bold;
	margin-left: 1em;
	color:#888;
}

#app-loading {
	margin-top: 15%;
	text-align: center;
	color: #888;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	z-index: 1;
}

#app-loading.done {
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s;
}

/////////////////////////////////

.scroll-box {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.actions-bar {
	& > div {
		display:inline-block;
		text-align:center;
		
		button.md-icon-button { 
			
			display: block;
			width: 100px;
			height: 100px;

			md-icon {
				width: 100px;
				height: 100px;
				line-height: 100px;
				font-size: 52pt;
			}
		}
	}
}

md-list.settings .md-subheader {
	margin-top: 1em;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.ui-grid.grid-loading {
	opacity: 0.4;
	transition: opacity 2s;
}

.ui-grid {
	opacity: 1;
	transition: opacity 1s;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
	overflow-y: auto;
	overflow-x: hidden;
}

.md-button.md-icon-button.grid-row-button {
	width: 32px;
	height: 32px;
	vertical-align: top;
	margin: 0;
	padding: 0;
	
	md-icon {
		vertical-align:top;
	}
}

.error-message {
	padding: 0.5em;
	margin: 0.5em 0;
	background: #FFAAAA;
	color: black; 
	border-radius: 5px;
}

.loading {
	opacity: 0;
}

.loaded {
	opacity: 1;
	transition: opacity 2s;
}

core-menu {
	color: #555;
}

.network-spinner { 
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  transform: scale(0.5);
}

#global-progress {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s, visibility 2s;
}

#global-progress.active {
	visibility: visible;
	opacity: 1;
	
	transition: opacity 1s, visibility 0s;
}

section#main {
	& > md-content {
		overflow: visible;
	}
}

.dashboard {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	
	md-card {
		margin: 1em;
		width: 30em;
		max-width: 95%;
		
		.card-actions {
			 float:right;
			 z-index: 2;
			 position: relative;
			 top: -6px;
			 color: #ccc;
			 
			 md-icon {
				 color: #ddd;
				 
				 &:hover {
					 color: #ccc;
				 }
			 }
		}
		
	}
	
	& > div { 
		display: inline-flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;
	}
}


.page-backdrop {
	position: fixed;
	background-attachment: fixed;
	top: 4.5em; 
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
} 

.flex-actions {
	display: flex;
	justify-content: space-around;
}

.page-backdrop-forest {
	background-image: url(../img/6938356-dark-blue-forest.jpg);
}

md-tabs.hidden-tabs {
	
	div.tab-header {
		color: #777;
		font-size: 80%;
		padding: 0.8em;
		background-color: #eee;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		
		.md-button {
			min-width: initial;
			margin: 0 -6px;
			text-transform: initial;
			font-weight: normal;
			font-size: inherit;
		}
		
	}
	
	md-tabs-wrapper {
		display: none;
	}
	
	md-tabs-content-wrapper {
		top: 0;
	}
}

.network-spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.network-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.network-spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.network-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.network-spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

* { 
	box-sizing: border-box;
}

.endpoint-readout-icon.disconnected {
	color: #ccc;
}

.endpoint-readout-icon.connected {
	color: darkgreen;
}

.endpoints-list .endpoint {
	border-bottom:1px dashed #ccc;
}

.explanation {
	color: #777;
}

core-scroll-header-panel {
	background: black;
}

html core-scroll-header-panel {
	transition: -webkit-filter 1s, transform 1s;
	-webkit-filter: blur(0px);
	transform: scale(1), translateY(0);
}

html.dialog-open core-scroll-header-panel {
	transition: -webkit-filter 3s, transform 3s;
	-webkit-filter: blur(15px);
	transform: scale(1.1), translateY(50);
}

html .indented {
	padding-left:3em;
}

paper-item.closeable {
	margin-right:32px;
	position:relative;
}

paper-item.closeable .go-close {
	position:absolute;
	right:0px;
	color: #888;
}

paper-item.closeable .go-close:hover {
	color: #000;
}

.small {
	font-size: 85%;
}

core-scroll-header-panel /deep/ #headerLayout {
	position:relative;
	z-index:10;
}

.schema-panel {
	position:relative;
	padding:1em;
	background-color:rgb(234, 234, 234);
}

.schema-panel .close {
	position:absolute;
	bottom:0;
	right:0;
}

.logo-loading {
	position:relative;
	top:-0.75em;
}

.loading-indicator {
	opacity: 0;
	transition: opacity 2s;
	display:inline-block;
}

.loading-indicator.active {
	opacity: 1; 
	transition: opacity 1s;
}

.loading-indicator.inactive {
	display:none;
}

body /deep/ paper-button.primary {

}

body /deep/ paper-button.danger {
	background: rgb(207, 0, 0);
	color: white;
}

body /deep/ paper-button.info {
	background: blue;
	color:white;
}

body /deep/ paper-button.primary {
	background: green;
	color: white;
}

body /deep/ paper-button.success {
	background: green;
	color:white;
}

/* background for toolbar when it is at its full size */
/*
core-scroll-header-panel::shadow #headerBg {
  background-image: url(../../img/bg8.jpg);
}
*/

.card-header {
	background:rgb(192, 192, 192);
	color:black;
	padding:1em;
	height:4em;
	position:relative;
}

.card-header h3, .card-header h4 {
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin:0;
}

.panel-body {
	background:white;
	padding:15px;
}

.condensed-logo {
	vertical-align:middle;
}

/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: #0372C1;
}

/* background for toolbar when it is condensed */
/*
core-scroll-header-panel::shadow #headerContainer {
	margin-right:15px;
}
*/

paper-menu-button paper-item { 
	width:20em;
	max-width:100%;
	text-overflow: ellipsis;
	overflow-x:hidden;
}

paper-menu-button paper-item a { 
	width:16em;
	max-width:100%;
	text-overflow: ellipsis;
	overflow-x:hidden;
}
/*
html /deep/ .paper-menu-button-menu-container {
	overflow: visible !important;
}
*/

@media (max-width:900px) {
	/* background for toolbar when it is condensed */
	/* 
	core-scroll-header-panel::shadow #headerContainer {
		margin-right:0;
	}
	*/
	
	/*
	paper-menu-button paper-item {
		//min-width: 200px; 
	}
	*/
}

.breadcrumbs paper-button {
	background: rgba(128, 128, 128, 0.45);
}

.breadcrumbs a paper-button {
	color: white;
}

.breadcrumbs a {
	color: white;
}

core-toolbar.hero {
	height:400px;
	background:rgba(0,0,0,0.5);
}

core-toolbar.hero .middle {
	height:275px;
}

core-toolbar {
	color: #f1f1f1;
	fill: #f1f1f1;
	background-color: transparent;
}

core-toolbar::shadow #middleBar {
	align-items: flex-start;
}

paper-dialog {
	z-index:50;
}

.dialog-card.header-card {
	display:inline-block;
	margin:1em auto;
	width:50em;
	max-width:100%;
	height:auto;
	overflow:visible;
	padding:1em;
}

paper-item.go-fullscreen span:before {
	content: 'Fullscreen'
}

html.fullscreen paper-item.go-fullscreen span:before {
	content: 'Exit Fullscreen'
}

.header-card {
	position:relative;
	width:300px;
	min-width:360px;
	height:250px;
	flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	margin:1em;
	clear:both;
	
	color:#555;
	background:white;
	font-family: 'Roboto';
	font-weight: 300;
	opacity:0.95;
	
}

.hero-cards {
	font-size:100%;
	width:100%;
	flex-wrap: wrap;
	overflow-y:hidden;
	position:relative;
	top:-1em;

	overflow: auto;
	overflow: -moz-scrollbars-none;
}

.hero-cards::-webkit-scrollbar { 
    display: none; 
}

.header-card .content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	padding:0.5em 1em;
	
}
html /deep/ paper-item::shadow ::content > a {
	padding: 11px 16px;
}

paper-dialog::shadow #main {
	overflow-x:hidden;
}

paper-dialog {
	/*min-width:600px;*/
	max-width:95%;
}

.flexgrid-medium {
	flex-wrap: wrap;
	/* overflow-y: hidden; */
}

.flexgrid-medium > * {
	width:20em;
	max-width:100%;
}

#dialog-error {
	max-width: 75%;
}

#error-dialog pre {
	overflow-x: auto;
}

@media (min-width: 1024px) {
	paper-dialog {
		min-width:900px;
	}
}

.menu-nonitem {
	padding:9px 16px;
	color: #ddd;
	font-weight: bold;	
}

.menu-separator {
	border-bottom: 1px dashed #ccc;
	height:1px;
}

.menu-section {
	padding:9px 16px;
	color: #bbb;
	font-weight: bold;
}

html body paper-dialog h1 {
	padding:9px 16px;
	color: #666;
	font-weight: bold;
	font-size: 150% !important;
	border-bottom:1px solid #ddd;
	display:block;
}

.top-bar {
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:31;
	background:rgba(0,0,0,0.8);
	color:white;
	font-size:125%;
}

.no-fullscreen .go-fullscreen {
	display:none;
}

.logo {
	pointer-events: none;
	font-size:42pt;
	font-weight:300;
	text-shadow:0px 0px 5px black;
	position:absolute;
	margin: 0 auto;
	top:1em;
	right:0;
	left:0;
	text-align:center;
}

.header-card h3 {
	font-size:xx-large;
	text-transform: lowercase;
	margin:0.5em 0 0 1em;
	font-weight: 100;
	float:right;
}

.show-when-short {
	display:block;
}

.show-when-tall {
	display:none;
}

.tall .show-when-tall {
	display:block;
}

.tall .show-when-short {
	display:none;
}

.jumbotron {
	padding-bottom:0em;
}

.jumbotron.inner {
	padding-top:1em;
	padding-bottom:1em;
	position:relative;
	top:-1em;
	margin-bottom:-0.5em;
}

.trailer {
	display:inline-block;
	max-width:15em;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height:2.8em;
}

body /deep/ a {
	color: #428bca;
	text-decoration:none;
}

body /deep/ a:visited {
	color: #428bca;
}

body /deep/ a:hover {
	text-decoration:underline;
}

table.data {
	width:100%;
}

table.data tr:hover {
	background: #eee;
}

table.data td {
	vertical-align:top;
}

.content-container {
	width: 100%;
	padding:0 1em 1em 1em;
	margin: 0 auto;
	position: relative;
	top: -4em;
	z-index: 20;
}

.card {
	padding: 0 0.5em 0.5em 0.5em;
}

.hero + .content-container {
	top: -10em;
}

.note {
	font-size:75%;
	font-weight:bold;
	color:white;
	background:maroon;
	padding:2px 6px;
	border-radius:5px;
	margin:2px;
	display:inline-block;
}
.note-orange {
	background:rgb(240, 105, 0);
}
.note-maroon {
	background:maroon;
}
.note-blue {
	background:#6A7FD5;
}

.query-results td.status {
	font-size:75%;
	width:10em;
}

tr.selected {
	background: rgb(178, 255, 230);
	border-left: 1px solid rgb(0, 128, 92);
}

.query-results td.unsaved {
	background: #ff9999;
}

.query-results tr.unsaved {
	background: pink;
}

.query-input {
	width:100%;
	min-height:6em;
}

.query-results {
	font-size:75%;
	width:100%;
}

.query-results-container {
	overflow-x: auto;
	width:100%;
	display:block;
}

.query-results thead {
	background: #eee;
}

.query-results td, .query-results th {
	padding:5px; 
}

.sidebar-section, .section {
	overflow-x: hidden;
	word-wrap: break-word;
	border-radius:5px;
	background:#eee;
	padding:1em;
	margin:0 0 1em 0;
}

.jumbotron {
	position:relative;
}

.jumbotron-buttons {
	
	position:absolute;
	bottom:0;
	right:0;
}

.jumbotron-buttons button {
	font-size:60%;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

@media (min-width:1024px) {
	.phone-only {
		display:none;
	}
	
	.tablet-only {
		display:block;
	}
	
	.desktop-only {
		display:block;
	}
}
@media (max-width:1023px) {
	#dialog-error {
		max-width: 90%;
	}
	
	.phone-only {
		display:none;
	}
	
	.tablet-only {
		display:block;
	}
	
	.desktop-only {
		display:none;
	}
	
	.no-mobile {
		display:none;
	}
}

@media (max-width:600px) {
	#dialog-error {
		max-width: 99%;
	}
	
	.phone-only {
		display:block;
	}

	.no-phone {
		display:none;
	}
	.tablet-only, .desktop-only {
		display:none;
	}
	
	.no-mobile {
		display:none;
	}
	
	body {
		overflow-x:hidden;
	}

	table.data {
		margin:0.5em;
	}

	.jumbotron {
		padding:0;
	}

	.jumbotron-buttons {
		width:100%;
		text-align:center;
	}

	.content-container {
		padding:0;		
		overflow-x: hidden;
	}

	.details-sidebar {
		padding-left:0;
		padding-right:0;
	}

	.main-content {
		padding-left:0;
		padding-right:0;
	}
}

md-content.full-height {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 4.5em;
	
	md-tabs {
		height: 95%;
	}
	
}

.query-preview {
	font-family: monospace;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 0.5em;
	margin: 0.5em 0;
	white-space: pre;
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

textarea.queryBox {
	width:100%;
	height:100%;
	min-height: 4em;
	font-family: monospace;
	border: 1px solid #ddd;
	margin: 0.5em 0;
}

md-content.main {
	position: absolute;
	top: 5em;
	left: 0.5em;
	right: 0.5em;
	bottom: 0em;
	overflow: hidden;
}

h2.pagetitle {
	a {
		color: white;
	}
	
	a:visited {
		color: white;
	}
}

.table-search {
	md-list-item.preview {
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
		width: 20em;
		
		.md-list-item-inner {
			min-height: initial;
		}
	}
	.value-selector {
		md-select {
			width: 186px;
		}
	}
}


@media (max-width: 500px) {
	.dashboard {
		& > div {
			width: 100%;
		}
	}
	
	.table-search .value-selector {
		md-input-container .md-input, md-select {
			width: 10em;
		}
	}
}

@media (max-height: 300px) {
	md-dialog-container {
		justify-items: flex-start;
	}
}