<md-dialog aria-label="Actions" style="width:30em;">
	<md-dialog-content>

		<div ng-show="going">
			
			<app-spinner></app-spinner>
			
		</div>
		<div ng-show="!going">
			<div ng-hide="available">
				<app-spinner></app-spinner> 
			</div>
			<div ng-show="available" class="actions-bar">
				<div ng-show="available.edit">
					<md-button class="md-icon-button" ng-click="edit()">
						<md-icon md-font-library="material-icons">edit</md-icon>
					</md-button>
					edit
				</div>
				<div ng-show="available.delete">
					<md-button class="md-icon-button" ng-click="delete()">
						<md-icon md-font-library="material-icons">delete</md-icon>
					</md-button>
					delete
				</div>
				<div ng-show="available.associations">
					<md-button class="md-icon-button" ng-click="showAssociations()">
						<md-icon md-font-library="material-icons">share</md-icon>
					</md-button>
					associations
				</div>
				<div ng-show="available.stash">
					<md-button class="md-icon-button" ng-click="stash()">
						<md-icon md-font-library="material-icons">exit_to_app</md-icon>
					</md-button>
					stash
				</div>
				<div ng-show="available.moreLike">
					<md-button class="md-icon-button" ng-click="moreLike()">
						<md-icon md-font-library="material-icons">find_in_page</md-icon>
					</md-button>
					more like this
				</div>
				<div ng-show="available.bookmark">
					<md-button class="md-icon-button" ng-click="bookmark()">
						<md-icon md-font-library="material-icons">favorite_outline</md-icon>
					</md-button>
					bookmark
				</div>
			</div>
		</div>
	</md-dialog-content>

	<div class="md-actions">
		<div ng-show="going">
			
		</div>
		<div ng-show="!going">
			<md-button ng-click="cancel()">Close</md-button>
		</div>
	</div>
</md-dialog>