<md-dialog aria-label="Actions" style="width:70em;">
	<md-dialog-content>
		
		<strong>Edit rows in {{db.name}}.{{table.name}}</strong>
		
		<form ng-submit="edit()">
			
			<div ng-repeat="row in rows">
				<md-list-item>
					{{row.name || 'Row '+($index+1)+' [no pkeys]'}}
					<span flex></span>
					<md-button class="md-icon-button" ng-click="removeRow($index)">
						<md-icon md-font-library="material-icons">clear</md-icon>
					</md-button>
				</md-list-item>
				<md-divider></md-divider>
				
				<div style="display:inline-flex; padding-left:32px; width:20em;align-items:flex-start;"
							ng-repeat="column in row.columns" 
							ng-show="!previewMode || column.checked"
							ng-class="{'preview': previewMode}">
					<md-checkbox ng-show="!previewMode" ng-model="column.checked"></md-checkbox>
					<div>
						<span ng-show="!previewMode">{{column.name}}</span>
						<strong ng-show="previewMode">`{{column.name}}`</strong>

						=

						<span ng-show="previewMode" style="font-family: monospace; color: #AD5503;">
							 '{{column.value}}'
						</span>

						<div ng-switch="column.logicalType" class="value-selector" ng-show="!previewMode">
							<md-select ng-model="column.value" ng-switch-when="bool">
								<md-option ng-value="1">true</md-option>
								<md-option ng-value="0">false</md-option>
							</md-select>
							<md-input-container ng-switch-default>
								<label>Value</label>
								<input ng-model="column.value" type="text" style="width: 10em;"
									   ng-click="column.checked = true" />
							</md-input-container>
						</div>

					</div>
				</div>
			</div>
		</form>
		<div class="query-preview" ng-show="previewMode">{{previewQuery}}</div>
	</md-dialog-content>

	<div class="md-actions">
		<md-button ng-click="cancel()">Cancel</md-button>
		<md-button class="md-raised" ng-click="preview()">
			<span ng-show="!previewMode">Preview</span>
			<span ng-show="previewMode">Keep Editing</span>
		</md-button>
		<md-button class="md-raised md-warn" ng-click="insert()">Save</md-button>
	</div>
</md-dialog>