<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title ng-bind="brand.name">datasha</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="manifest" href="manifest.json" />
	<meta name="mobile-web-app-capable" content="yes" />
	
	<meta name="author" content="Liam Lahti" />
	<meta name="keywords" content="database,data,sql,nosql" />
	<meta name="description" content="Manage all your databases" />
	
	<link type="text/css" rel="stylesheet" href="css/platform.css" />
	<link type="text/css" rel="stylesheet" href="css/app.css" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,300,300italic,700italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="datasha" ng-controller="ShellController">
	
	<div id="app-loading">
		<h1> 
			<img src="img/logo.svg" style="height: 4em; max-width: 100%;" />
		</h1>
		::VERSION::<br/>
		
		<div class="sk-folding-cube selected">
			<div class="sk-cube1 sk-cube"></div>
			<div class="sk-cube2 sk-cube"></div>
			<div class="sk-cube4 sk-cube"></div>
			<div class="sk-cube3 sk-cube"></div>
		</div>
		
		&copy 2015
	</div>
	<div id="app-loaded" style="display:none;">

		<md-toolbar ng-class="{'loaded': loaded, 'loading': !loaded}" flex>
			<div class="md-toolbar-tools">
				<md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
					<md-icon md-font-library="material-icons">menu</md-icon>
				</md-button>

				<h2 class="pagetitle">
					<span ng-repeat="breadcrumb in $root.breadcrumbs" hide-sm>
						<a ng-href="{{breadcrumb.url}}">{{breadcrumb.text}}</a>
						&raquo;
					</span>
					<span>{{$root.pageTitle}}</span>
				</h2>
				<md-button class="md-icon-button" aria-label="Favorite">
					<md-icon md-font-library="material-icons">star_outline</md-icon>
				</md-button>
				<span flex></span>

				<md-button class="md-icon-button" aria-label="More" ng-click="toggleRight()">
					<md-icon md-font-library="material-icons">settings</md-icon>
				</md-button>
				
				<md-progress-linear 
					id="global-progress" 
					md-mode="indeterminate"
					ng-class="{'active': globalSpinner}"
					></md-progress-linear>
			</div>
		</md-toolbar>

		<section ng-class="{'loaded': loaded, 'loading': !loaded}" layout="row" flex id="main">
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
				<div dt-lazy-load="loadNav.left">
					<div ng-controller="LeftSidebarController">
						<md-toolbar class="md-theme-indigo"> 
							<div class="md-toolbar-tools">
								<h1 ng-click="goHome()">
									<div class="sidebar-logo" ng-include="'img/logo.svg'">
									</div>
								</h1>
								<span flex></span>

								<md-button class="md-icon-button" aria-label="Hide" ng-click="close()">
									<md-icon md-font-library="material-icons">close</md-icon>
								</md-button> 
							</div>
						</md-toolbar>
						<md-content layout-padding class="full-height">

							<md-tabs md-swipe-content="true" md-selected="selectedTab" md-stretch-tabs="true" md-no-bar="true"
									 class="hidden-tabs">
								<md-tab label="Servers">
									<div class="tab-header">
										<md-button ng-click="goHome()">
											<md-icon md-font-library="material-icons" ng-click="selectedTab = 0">storage</md-icon>
											Connections
										</md-button>
									</div>


										<div class="flex-actions">
											<md-button class="md-icon-button" ng-click="goToConnectionPage(activeConnection)">
												<md-icon md-font-library="material-icons">info</md-icon> 
											</md-button>
											<md-button class="md-icon-button">
												<md-icon md-font-library="material-icons">delete</md-icon>
											</md-button>
											<md-button class="md-icon-button">
												<md-icon md-font-library="material-icons">trending_up</md-icon>
											</md-button>
											<md-button class="md-icon-button" ng-click="showConnectDialog($event);">
												<md-icon md-font-library="material-icons">add</md-icon>
											</md-button>
										</div>

									<md-input-container>
										<label>Search Connections</label>
										<input type="text" ng-model="searchConnections" />
									</md-input-container>

									<em ng-show="$root.activeConnections.length == 0">
										There are no active server connections. To add a connection, click the Add
										button above.
									</em>

									<em ng-show="$root.activeConnections.length > 0 && ($root.activeConnections | filter: searchConnections).length == 0">
										No connections match your search string. 
										{{$root.activeConnections.length}} connections are hidden.
									</em>

									<div style="position:absolute;top: 10.5em;left:0;right:0;bottom:0;overflow-y:auto;">

										<md-list>
											<md-list-item class="md-3-line" 
														  ng-repeat="cnx in $root.activeConnections | filter: searchConnections" 
														  ng-click="selectConnection(cnx, $event)">
												<div class="md-list-item-text">
													{{cnx.label}}
													<span ng-show="!cnx.isAlive" 
														  class="md-list-item-tag">Inactive</span>
												</div>
												<md-button class="md-secondary md-icon-button" ng-click="deleteConnection(cnx)" >
													<md-icon 
															 aria-label="Options" 
															 md-font-library="material-icons">delete</md-icon>
												</md-button>
												<md-divider ng-if="!$last"></md-divider>
											</md-list-item>
										</md-list>
									</div>

								</md-tab>
								<md-tab label="DBs">
									<div ng-show="!activeConnection">

										<app-spinner></app-spinner>
									</div>
									<div ng-show="activeConnection">

										<div class="tab-header">
											<md-button ng-click="selectedTab = 0">
												<md-icon md-font-library="material-icons">storage</md-icon>
											</md-button>

											&raquo; 

											<md-button ng-click="goToConnectionPage(activeConnection)">
												<md-icon md-font-library="material-icons">now_widgets</md-icon>
												{{activeConnection.label}}
											</md-button>
										</div>

										<div class="flex-actions">
											<md-button class="md-icon-button" ng-click="goToConnectionPage(activeConnection)">
												<md-icon md-font-library="material-icons">info</md-icon> 
											</md-button>
											<md-button class="md-icon-button">
												<md-icon md-font-library="material-icons">delete</md-icon>
											</md-button>
											<md-button class="md-icon-button">
												<md-icon md-font-library="material-icons">trending_up</md-icon>
											</md-button>
											<md-button class="md-icon-button">
												<md-icon md-font-library="material-icons">add</md-icon>
											</md-button>
										</div>

										<md-input-container>
											<label>Search Databases</label>
											<input type="text" ng-model="searchDatabases" />
										</md-input-container>


										<em ng-show="activeConnection.databaseNames.length == 0">
											There are no available databases on the active connection 
											({{activeConnection.label}}). To add a database, click the Add
											button above.
										</em>

										<em ng-show="activeConnection.databaseNames.length > 0 && (activeConnection.databaseNames | filter: searchDatabases).length == 0">
											No databases match your search string. 
											{{activeConnection.databases.length}} databases are hidden.
										</em>	

										<div style="position:absolute;top: 11.5em;left:0;right:0;bottom:0;overflow-y:auto;">

											<md-list>
												<md-list-item  
													class="md-3-line"
													ng-repeat="db in activeConnection.databases | filter: searchDatabases track by db.name "
													ng-click="selectDb(db.name)">
													<div class="md-list-item-text"> 
														{{db.name}} 
														<span class="md-list-item-tag">
															{{db.tableCount}} [{{db.size | fileSize}}]
														</span>
													</div> 
													<md-divider ng-if="!$last"></md-divider>
												</md-list-item>
											</md-list>
										</div>
									</div>
								</md-tab>
								<md-tab label="Tables">
									<div ng-show="!activeDb">

										<app-spinner></app-spinner>
									</div>
									<div ng-show="activeDb">
										<div class="tab-header">

											<md-button ng-click="selectedTab = 0">
												<md-icon md-font-library="material-icons">storage</md-icon>
											</md-button>

											&raquo; 

											<md-button ng-click="selectedTab = 1">
												<md-icon md-font-library="material-icons" >now_widgets</md-icon>
												{{activeConnection.host}}
											</md-button>

											&raquo; 

											<md-button ng-click="goToDatabasePage(activeConnection, activeDb)">
												<md-icon md-font-library="material-icons">share</md-icon>
												{{activeDb.name}}
											</md-button>
										</div>

										<div class="flex-actions">
											<md-button class="md-icon-button" ng-click="goToDatabasePage(activeConnection, activeDb)">
												<md-icon md-font-library="material-icons">info</md-icon>
											</md-button>
											<md-button class="md-icon-button" ng-click="drop(activeConnection, activeDb)">
												<md-icon md-font-library="material-icons">delete</md-icon>
											</md-button>
											<md-button class="md-icon-button" ng-click="goToQuery(activeConnection, activeDb)">
												<md-icon md-font-library="material-icons">directions</md-icon>
											</md-button>
											<md-button class="md-icon-button" ng-click="showAddTable(activeConnection, activeDb)">
												<md-icon md-font-library="material-icons">add</md-icon>
											</md-button>
										</div>

										<md-input-container>
											<label>Search Tables</label>
											<input type="text" ng-model="searchTables" />
										</md-input-container>

										<div style="position:absolute;top: 11.5em;left:0;right:0;bottom:0;overflow-y:auto;">

											<md-list>
												<md-list-item 
													class="md-3-line" 
													ng-repeat="table in activeDb.tables | filter: searchTables"
													ng-click="goToTable(table)">
													<div class="md-list-item-text">
														{{table.name}}
														<span class="md-list-item-tag">
															{{table.rows | rowCount}} [{{table.size | fileSize}}]
														</span>
													</div>
													<md-divider ng-if="!$last"></md-divider>
												</md-list-item>
											</md-list>
										</div>
									</div>
								</md-tab>
							</md-tabs>

							<br/>


						</md-content>
					</div>
				</div>
			</md-sidenav>
			<md-content flex layout-padding class="main">
				<div layout="column" layout-fill layout-align="top center">
					<div ng-view>
					</div>
				</div>
			</md-content>
			<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
				<div dt-lazy-load="loadNav.right">
					<div ng-controller="RightSidebarController">
						<md-toolbar class="md-theme-light">
							<h1 class="md-toolbar-tools">
								<div class="sidebar-logo" ng-include="'img/logo.svg'">
								</div>
							</h1>
						</md-toolbar>
						
						<md-content layout-padding class="full-height">
							<div class="scroll-box">
								<md-list>
									<md-list-item ng-click="showSettings()">
										<md-list-item-text>
											Settings
										</md-list-item-text>
									</md-list-item>
									
									<div ng-show="brand.commercial">
										<md-subheader>
											<md-icon md-font-library="material-icons" style="float:right;">help</md-icon>
											Help
										</md-subheader>
										<md-divider></md-divider>

										<md-list-item ng-click="noop = 1">
											Using {{brand.name}}
										</md-list-item>

										<md-list-item ng-click="noop = 1">
											Troubleshooting
										</md-list-item>

										<md-list-item ng-click="noop = 1">
											Report an issue
										</md-list-item>

									</div>
									<div ng-show="!brand.commercial">
										<md-subheader>
											<md-icon md-font-library="material-icons" style="float:right;">help</md-icon>
											Help
										</md-subheader>
										<md-divider></md-divider>

										<md-list-item ng-click="noop = 1">
											Documentation
										</md-list-item>
										<md-list-item ng-click="noop = 1">
											Github
										</md-list-item>

										<md-subheader>
											<md-icon md-font-library="material-icons" style="float:right;">favorite</md-icon>
											Support {{brand.name}}
										</md-subheader>
										<md-divider></md-divider>

										<md-list-item ng-click="noop = 1">
											Donate
										</md-list-item>
									</div>
								</md-list>
							</div>
						</md-content>
					</div>
				</div>
			</md-sidenav>
		</section>
	</div>
	
	<script src="js/platform.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
