<div style="position:relative;height:100%;">
	<div ng-show="!editing">
		<div ng-click="editing = true" 
			 style="font-family: monospace; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"
			 >{{query.text}}</div>
	</div>
	<div ng-show="editing" style="position:relative;">
		<textarea class="queryBox" ng-model="currentQuery" 
				  style="width: 100%; min-width: 100%; max-width: 100%; min-height: 2em; height: 10em;"></textarea>

		<div style="position:absolute;bottom:5px;right:20px;">
			<md-button ng-click="editing = false" class="md-raised">Cancel</md-button>
			<md-button ng-click="editing = false; query.run(currentQuery)" class="md-warn md-raised">Run</md-button>
		</div>
	</div>
</div>